[Unit]
Description=Emergency Shell
DefaultDependencies=no

[Service]
KeyringMode=inherit
ExecStart=-/bin/sh
StandardInput=tty
StandardOutput=tty
StandardError=tty
