[Unit]
Description=Matchbox window manager
After=xorg.service
Requires=xorg.service
PartOf=graphical.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=HOME=/root
Environment=FONTCONFIG_FILE=/etc/fonts/fonts.conf
ExecStart=/usr/bin/matchbox-window-manager
Restart=always
RestartSec=2s
StartLimitIntervalSec=0
StandardOutput=null
StandardError=null
