[Unit]
Description=PCManFM file manager
After=xorg.service
Requires=xorg.service
PartOf=graphical.target
StartLimitIntervalSec=0

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=HOME=/root
Environment=FONTCONFIG_FILE=/etc/fonts/fonts.conf
ExecStart=/usr/bin/pcmanfm /
Restart=always
RestartSec=2s
StandardOutput=null
StandardError=null
