# SPDX-License-Identifier: MPL-2.0
[Desktop Entry]
Type=Application
Name=Terminal
Comment=Open an Asterinas shell
Exec=xterm -title Asterinas Terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
