# SPDX-License-Identifier: MPL-2.0
[Desktop Entry]
Type=Application
Name=Terminal
Comment=Open an Asterinas shell
Exec=xterm -title Asterinas-Terminal
Icon=/usr/share/asterinas/desktop-terminal-icon.svg
Terminal=false
Categories=System;TerminalEmulator;
