[Unit]
Description=Asterinas Debian online Firefox workload
Requires=asterinas-desktop-m5.service asterinas-desktop-m5-network.service
After=asterinas-desktop-m5.service asterinas-desktop-m5-network.service
Requires=asterinas-browser-web-timeline-basic.service
After=asterinas-browser-web-timeline-basic.service

[Service]
Type=simple
User=asterinas
AmbientCapabilities=
CapabilityBoundingSet=
NoNewPrivileges=yes
Environment=HOME=/home/asterinas
ExecStartPre=/usr/lib/asterinas/browser-web-timeline wait-x
ExecStart=/usr/lib/asterinas/browser-web-firefox
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=graphical.target
